JAXB/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/Product" xmlns:abc="http://www.example.org/Product" elementFormDefault="qualified">

    <complexType name="Product">
    	<sequence>
    		<element name="id" type="int"></element>
    		<element name="name" type="string"></element>
    		<element name="price" type="double"></element>
    	</sequence>
    </complexType>

    <element name="product" type="abc:Product"></element>
</schema>